/* CSS Document */
/*  FONTS  */
@font-face {
	font-family: 'BigNoodleTitling';
	src: url('fonts/big_noodle/BigNoodleTitling.woff') format('woff'), url('fonts/big_noodle/BigNoodleTitling.ttf') format('truetype'), url('fonts/big_noodle/BigNoodleTitling.svg#BigNoodleTitling') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'big_noodle_titling';
	src: url('fonts/big_noodle/big_noodle_titling.eot');
	src: url('fonts/big_noodle/big_noodle_titling.woff2') format('woff2'), url('fonts/big_noodle/big_noodle_titling.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BigNoodleTitling-Oblique';
	src: url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.woff') format('woff'), url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.ttf') format('truetype'), url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.svg#BigNoodleTitling-Oblique') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'big_noodle_titling_oblique';
	src: url('fonts/big_noodle_titling_oblique.eot');
	src: url('fonts/big_noodle_titling_oblique.woff2') format('woff2'), url('fonts/big_noodle_titling_oblique.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
 a:-webkit-any-link {
 text-decoration: none!important;
}
.hero-head {
	width: 100%;
	background: url(../images/home/hero-space.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	color: white;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 250px;
	margin-top: 31px;
	overflow:hidden!important;
	position:relative;
	box-shadow:0px 5px 30px rgba(0,0,0,0.6);




}
.about{
	background-color:white;
	padding-top:90px;
	padding-bottom:90px;
}
.about p {
	margin: 0px;
}
.hero-head h1 {
	margin: 0px;
}
.hero-head p {
	margin: 0px;
}
body {
	margin: 0!important;
	background-image: url(../images/bg/transp_bg.png);
}
.shadow {
	box-shadow: 5px 5px 50px rgba(0,0,0,0.2);
}
.hero {
	margin: 100px;
	position: relative;
	top: 35px;
}
.hero1 {
	width: 100%;
	max-width: 1000px;
	height: 563px;
	float: left;
}
.hero2 {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 650px;
	float: left;
}
.hero2sub {
	display: block;
	height: 154.3px;
	margin-bottom: 50px;
	background-color: steelblue;
}
#glados {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 600px;
	display: none;
}
.twitch {
	padding-top: 80px;
	padding-bottom: 80px;
}
.twitch p {
	margin: 0px;
	text-align: center;
}
.t-top {
	font-size: 150%;
	text-align: center;
	color: white;
	font-weight: 300;
}
.t-middle {
	text-align: center;
	margin-bottom: -10px;
	font-size: 80%;
	color: white;
	opacity: 0.4;
}
.t-bottom {
	text-align: center;
	color: white;
	font-size: 90%;
	font-weight: 300;
}
.hero-rocket{
	position:absolute;
	top:40px;
	right:50px;
	max-width:140px;
}
