@charset "utf-8";
/* CSS Document */

.nav{
	background-color:#E3035D;
	color:white;
	text-align:center;
}

#time{
	display:inline-block;
	padding:10px;
	margin:0px;
}
#message{
	display:inline-block;
	padding:10px;
	margin:0px;
}