@charset "utf-8";
/* CSS Document */
/*  FONTS  */
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('fonts/big_noodle/BigNoodleTitling.woff') format('woff'),
       url('fonts/big_noodle/BigNoodleTitling.ttf') format('truetype'),
       url('fonts/big_noodle/BigNoodleTitling.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'big_noodle_titling';
  src: url('fonts/big_noodle/big_noodle_titling.eot');
  src: url('fonts/big_noodle/big_noodle_titling.woff2') format('woff2'),
       url('fonts/big_noodle/big_noodle_titling.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigNoodleTitling-Oblique';
  src: url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.woff') format('woff'),
       url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.ttf') format('truetype'),
       url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.svg#BigNoodleTitling-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'big_noodle_titling_oblique';
  src: url('fonts/big_noodle_titling_oblique.eot');
  src: url('fonts/big_noodle_titling_oblique.woff2') format('woff2'),
       url('fonts/big_noodle_titling_oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
body {
	margin:0!important;
	background-image: url(images/website/bg/transp_bg.png);
}
.navbar{
	/* OLD BG background-color:#E3035D; */
	background: #9d00e3;
    background: -moz-linear-gradient(-45deg,  #9d00e3 0%, #af06ce 23%, #e8188b 78%, #ff2071 100%);
    background: -webkit-linear-gradient(-45deg,  #9d00e3 0%,#af06ce 23%,#e8188b 78%,#ff2071 100%);
    background: linear-gradient(135deg,  #9d00e3 0%,#af06ce 23%,#e8188b 78%,#ff2071 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d00e3', endColorstr='#ff2071',GradientType=1 );
	color:white;
	text-align:center;
	font-family: 'Khand', sans-serif;
	font-size:20px;
	box-shadow:0px 2px 6px rgba(0,0,0,0.4);
	position: relative;
	z-index:10;
	transition:0.2s all;
}
.navbar a{
	color:white;
	text-decoration: none;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	margin-left:-4px;
	transition:0.2s all;
	display:inline-block;
}
.navbar a:hover{
	color:#E3035D;
	background-color:white;
}
.bell {
	color:rgba(255,255,255,1)!important;
	text-decoration: none;
	padding:9px!important;
	padding-left:15px!important;
	padding-right:15px!important;
	margin-left:0px!important;
	transition:0.2s all;
	font-size:15px;
	background-color:rgba(0,0,0,0.1)!important;
	float:right;
}
.bell:hover{
	color:rgba(255,255,255,0.4)!important;
	background-color:rgba(0,0,0,0.2)!important;
}
.notificationBox{
	background-color: #EFEFEF;
	margin-top:9px!important;
	z-index:6;
	position:absolute;
	height:0px;
	width:400px;
	overflow:hidden;
	right:0;
	box-shadow:0px 10px 20px rgba(0,0,0,0.2);
	animation-timing-function:ease-out;
	transition:0.3s all;
	color:#333;
}
.bell:hover .notificationBox{
	height:500px;
}
.navbar:hover{
	box-shadow:0px 2px 30px rgba(0,0,0,0.5);
}
.navbarnote{
	position: relative;
	z-index:8;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
	background-color:white;
	color:#4B4B4B;
	text-align:center;
	font-family: 'Khand', sans-serif;
	font-size:20px;
	padding:5px;
	padding-bottom:1px!important;
}
.activitybuttons{
	position:absolute;
	top:0;
	right:0;
}
.noteItem{
	background-color:white;
	width:360px;
	padding:10px;
	display:block;
	margin:0 auto;
	margin-top:10px!important;
	text-align:left!important;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}
.noteTitle{
	font-family: 'Slabo 27px', serif;
	font-size:30px;
	margin:0px;
}
.noteTitleTop{
	font-family: 'Slabo 27px', serif;
	font-size:30px;
	margin:0px;
	text-align:center!important;
	color:#CB0252;
	margin-top:10px!important;
}
.noteMessage{
	font-family: 'Slabo 27px', serif;
	font-size:15px;
	margin:0px;
}
#time{
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:30px;
	margin-bottom:-23px;
}
#message{
	display:inline-block;
	padding:0px;
	margin:0px;
}
canvas { 
	background-image: url(images/game/bg/space1.gif); 
    -moz-background-size:100% 100%; /* Firefox 3.6 */
    background-size:100% 100%;
    background-repeat:no-repeat;
	border:0px solid #eee;
	display: block; 
	margin:0 auto;
	margin-bottom:150px;
	margin-top:50px;
	box-shadow:3px 3px 35px rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
}
#glados {
	position:absolute;
	right:0;
	width:100%;
	max-width:600px;
	display:none;
}
.logo-header{
	background-color:white;
	height:100px;
}
.logo{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	max-width:400px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.logomain{
	top:15px;
	-webkit-filter: drop-shadow(5px 5px 6px rgba(0,0,0,0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
	display:none;
}
.logoglow{
	top:5px;
	opacity:1;
	transition:0.6s all;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
}
.logoglow:hover{
	opacity:0.5;
}
