@charset "utf-8";
/* CSS Document */
/*  FONTS  */
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('fonts/big_noodle/BigNoodleTitling.woff') format('woff'),
       url('fonts/big_noodle/BigNoodleTitling.ttf') format('truetype'),
       url('fonts/big_noodle/BigNoodleTitling.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'big_noodle_titling';
  src: url('fonts/big_noodle/big_noodle_titling.eot');
  src: url('fonts/big_noodle/big_noodle_titling.woff2') format('woff2'),
       url('fonts/big_noodle/big_noodle_titling.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigNoodleTitling-Oblique';
  src: url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.woff') format('woff'),
       url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.ttf') format('truetype'),
       url('fonts/big_noodle_italic/BigNoodleTitling-Oblique.svg#BigNoodleTitling-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'big_noodle_titling_oblique';
  src: url('fonts/big_noodle_titling_oblique.eot');
  src: url('fonts/big_noodle_titling_oblique.woff2') format('woff2'),
       url('fonts/big_noodle_titling_oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
body {
	margin:0!important;
	background-image: url(images/website/bg/transp_bg.png);
}
.navbar{
	background-color:#E3035D;
	color:white;
	text-align:center;
	font-family: 'Khand', sans-serif;
	font-size:20px;
	box-shadow:0px 2px 6px rgba(0,0,0,0.4);
	position: relative;
	z-index:10;
	transition:0.2s all;
}
.navbar a{
	color:white;
	text-decoration: none;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	margin-left:-4px;
	transition:0.2s all;
	background-color:#E3035D;
	display:inline-block;
}
.navbar a:hover{
	color:#E3035D;
	background-color:white;
}
.bell {
	color:rgba(255,255,255,1)!important;
	text-decoration: none;
	padding:9px!important;
	padding-left:15px!important;
	padding-right:15px!important;
	margin-left:-4px;
	transition:0.2s all;
	font-size:15px;
	background-color:#CB0252!important;
	float:right;
}
.bell:hover{
	color:rgba(255,255,255,0.4)!important;
	background-color:#B10248!important;
}
.notificationBox{
	background-color: #EFEFEF;
	margin-top:9px!important;
	z-index:6;
	position:absolute;
	height:0px;
	width:400px;
	overflow:hidden;
	right:0;
	box-shadow:0px 10px 20px rgba(0,0,0,0.2);
	animation-timing-function:ease-out;
	transition:0.3s all;
	color:#333;
}
.bell:hover .notificationBox{
	height:500px;
}
.navbar:hover{
	box-shadow:0px 2px 30px rgba(0,0,0,0.5);
}
.navbarnote{
	position: relative;
	z-index:8;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
	background-color:white;
	color:#4B4B4B;
	text-align:center;
	font-family: 'Khand', sans-serif;
	font-size:20px;
	padding:5px;
	padding-bottom:1px!important;
}
.noteItem{
	background-color:white;
	width:360px;
	padding:10px;
	display:block;
	margin:0 auto;
	margin-top:10px!important;
	text-align:left!important;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}
.noteTitle{
	font-family: 'Slabo 27px', serif;
	font-size:30px;
	margin:0px;
}
.noteTitleTop{
	font-family: 'Slabo 27px', serif;
	font-size:30px;
	margin:0px;
	text-align:center!important;
	color:#CB0252;
	margin-top:10px!important;
}
.noteMessage{
	font-family: 'Slabo 27px', serif;
	font-size:15px;
	margin:0px;
}
#time{
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:30px;
	margin-bottom:-23px;
}
#message{
	display:inline-block;
	padding:0px;
	margin:0px;
}
canvas { 
	background-image: url(images/game/bg/space1.gif); 
    -moz-background-size:100% 100%; /* Firefox 3.6 */
    background-size:100% 100%;
    background-repeat:no-repeat;
	border:0px solid #eee;
	display: block; 
	margin:0 auto;
	margin-bottom:150px;
	box-shadow:3px 3px 35px rgba(0,0,0,0.2);
}
.colorme {
	color:#E3035D!important;
	text-shadow:5px 5px 10px rgba(0,0,0,0.2);
	font-size:50px;
	text-align:center;
	font-family: 'Press Start 2P', cursive;
}
#glados {
	position:absolute;
	right:0;
	width:100%;
	max-width:600px;
	display:none;
}