@charset "utf-8";
/* CSS Document */


body {
	margin:0!important;
}

canvas { 
	
	background: #eee; 
	display: block; 
	margin:0 auto;
	margin-bottom:150px;
}

.colorme {
	color:red!important;
	font-size:50px;
	text-align:center;
}

.notificationBar{
	background-color:#E3035D;
	color:white;
	text-align:center;
}

#time{
	display:inline-block;
	padding:10px;
	margin:0px;
}
#message{
	display:inline-block;
	padding:10px;
	margin:0px;
}