@font-face {
  font-family: 'BigNoodleTitling-Oblique';
  src: url('BigNoodleTitling-Oblique.woff') format('woff'),
       url('BigNoodleTitling-Oblique.ttf') format('truetype'),
       url('BigNoodleTitling-Oblique.svg#BigNoodleTitling-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'big_noodle_titling_oblique';
  src: url('big_noodle_titling_oblique.eot');
  src: url('big_noodle_titling_oblique.woff2') format('woff2'),
       url('big_noodle_titling_oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

