@font-face {
  font-family: 'PROMINDER';
  src: url('PROMINDER.eot');
  src: url('PROMINDER.woff2') format('woff2'),
       url('PROMINDER.woff') format('woff'),
       url('PROMINDER.ttf') format('truetype'),
       url('PROMINDER.svg#PROMINDER') format('svg'),
       url('PROMINDER.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

