@font-face {
  font-family: 'BigNoodleTitling';
  src: url('BigNoodleTitling.woff') format('woff'),
       url('BigNoodleTitling.ttf') format('truetype'),
       url('BigNoodleTitling.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'big_noodle_titling';
  src: url('big_noodle_titling.eot');
  src: url('big_noodle_titling.woff2') format('woff2'),
       url('big_noodle_titling.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

